/*###################################################################################

                                    Couleurs

###################################################################################*/

@mixin back {
    background: url('../images/micro_carbon.png');
}

$border-color: #111;
$box-bottom-color:rgb(33,33,33);
$box-top-color:rgb(64,64,64);
$warning-color: #c00;
$light-color: #26B3F7;
$disabled : #999;
$ui-button-text: #ddd;;


/*##################################################################################*/

body { 
	@include back;
	font-size: 11px; 
}

/** Font-Face **/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), 
  	   url("../fonts/fontawesome-webfont.woff") format('woff'), 
  	   url("../fonts/fontawesome-webfont.ttf") format('truetype'), 
  	   url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}

strong { font-weight: bold;}

/*####################################################################################

									Divers

####################################################################################*/
#content { height: 172px; width: 100%;}
#puncher-container { height: 132px; width: 100%; position: relative;}
#puncher-container section { vertical-align: middle;}
#puncher-container section, #puncher-container div { text-align: center;}
#puncher-container .ui-widget { font-size: 0.8em;}

#options-buttons-container { margin: 20px auto; text-align: center;}
    #options-buttons-container .ui-button { @include box-shadow(0px 3px 0px $border-color); display: inline-block; margin: 0 5px;}

#modals-container { display: none;}
    #total-time-options { margin-top: 10px;}
        #total-time-options  .ui-state-error { margin: 0 0 10px;}
            #total-time-options  .ui-state-error  p { margin: 10px 0; text-align: justify;}
            #total-time-options p span { float: left; margin: -2px 5px 0 0;}
        #total-time-options p.two-a-row { padding: 0 2%; margin-bottom: 10px; width: 45%; display: inline-block; text-align: center;}
            #total-time-options label,
            #total-time-options input  { display: inline-block; margin: 0;}
            #total-time-options label { width: 70px; text-align: left; margin-left: 10px;}
            #total-time-options input  { text-align: center;}
            
    #options { text-align: center;}
        #options p , #options div { display: inline-block; vertical-align: middle; margin-bottom: 10px;}
        #options p { width: 120px; text-align: left;}
        #options div { margin-left: 30px;}
        
    #punches-options {}
        #punches-options button.add-punch {margin-top: 10px;}
        #punches-options p {margin-bottom: 10px;}
            #punches-options button#older-punches {float: left;}
            #punches-options button#newer-punches {float: right;}
        #punches-options form {clear: both; padding-top: 15px;}
            #punches-options form p {margin-bottom: 10px; display: inline-block;}
            #punches-options form p:first-child {width: 80px;}
            #punches-options button.delete-punch {clear: both; float: right;}

/*####################################################################################

								Indicateurs

####################################################################################*/
#puncher-container #cookie-section, 
#puncher-container #indicators-section { min-width: 350px;}
#puncher-container #cookie-section { text-align: right;}
#puncher-container #indicators-section { text-align: left;}
	#puncher-container #cookie-button, 
	#puncher-container #indicators-button { height: 130px; width: 100px; text-indent: -70000px; position: relative;}
	#puncher-container #cookie-button { text-align: left;}
	#puncher-container #cookie-state, 
	#puncher-container #indicators {
		z-index: 2; 
		font-size: 17px; 
		overflow: hidden; 
		height: 130px; 
		width: 0px;
		background: url('../images/escheresque_ste.png');
		box-shadow: none;
		vertical-align: bottom;
		border: none;
		padding: 0;
		position: relative;
		color: white;
	}
		#puncher-container p.ui-widget-header { padding: 4px 0; margin: 10px 0 3px; color: $ui-button-text;}
		#puncher-container #cookie-state > div { margin: 15px 60px 0 15px; width: 190px;}
		#puncher-container #indicators > div { margin: 15px 15px 0 65px; width: 190px;}
			#puncher-container #cookie-state button,
			#puncher-container #cookie-state #progressbar,
			#puncher-container #cookie-state p { margin-bottom: 10px;}
		
        #puncher-container #indicators dd, 
        #puncher-container #indicators dt {display: block; float: left; padding: 4px; margin-bottom: 10px; color: $ui-button-text;}
        #puncher-container #indicators dt {clear: both; width: 40px; margin-right: 5px; }
        #puncher-container #indicators dd {width: 122px;}
			#puncher-container #indicators #time-difference { font-weight: bold; color:#26B3F7; }
			#puncher-container.over-time #indicators #time-difference { color: #f00;}
	/*
	 * FIXME
	 * Hack To delete some space between the buttons...
	 */
	#puncher-container #cookie-state { margin-left: -4px; border-right: 1px solid #000;}
	#puncher-container #indicators-button { margin-left: -4px;}
	
/*####################################################################################

								Puncher

####################################################################################*/

#puncher-container section#puncher-section { 
	@include back;
	z-index: 10;
	position: relative;
	border-radius: 100px; 
	border: 1px solid $border-color; 
	height: 100px; 
	width: 100px; 
	@include box-shadow( inset 0px 3px 0px $border-color);
}
  #puncher-container section#puncher-section canvas {margin: 2px 0 0 1px;}
	#puncher-container.over-time .box-active { @include box-shadow( 0px 0px 30px $warning-color);}
	#puncher-container #puncher-button { 
		border-radius: 100px; 
		height: 75px; 
		width: 75px; 
		margin: auto; 
		border: none; 
		margin-top: 12px; 
		font-family: "FontAwesome";
		position: relative;
		z-index: 1000;
	}
		#puncher-container #puncher-button span { margin-top: 12px; display: inline-block;}
		
		
/*####################################################################################

									Knob

####################################################################################*/

#puncher-container #knob-wrapper {
	z-index: 11; 
	display: block !important; 
	width: 0 !important; 
	height: 0 !important;
	position: relative;
	top: -2px;
	left: -1px;
}

/*####################################################################################

								Classes générales

####################################################################################*/
	
.box {
	display: inline-block; 
	border: 1px solid $border-color;
	font-size: 65px;
	text-decoration: none;
	color: $disabled;
	@include box-shadow(0px 5px 0px $border-color);
	@include background(linear-gradient(bottom, $box-bottom-color 12%, $box-top-color 65%));
}
.box-active { color: #fff; text-shadow: 0px 0px 10px #fff; @include box-shadow(0px 0px 30px $light-color); }
.corner-left { border-radius: 30px 0 0 30px; }
.corner-right { border-radius: 0 30px 30px 0; }
.progress-label { text-align: center; width: 100%; float: left; margin-top: 5px; text-shadow: 1px 1px 0 $border-color;}

.hidden {display: none;}

/*####################################################################################

	Affichage des panneaux d'information en mode déployés
	
####################################################################################*/

#puncher-container #cookie-button.cookie-active,
#puncher-container #indicators-button.indicators-active { width: 50px; @include box-shadow(0px 0px 30px $light-color); }
#puncher-container #cookie-state.cookie-active,
#puncher-container #indicators.indicators-active { width: 270px; }
/* FIXME Hack to prevent the glow of the indicators button to show on the cookie button when closing */
#puncher-container #cookie-button.indicators-active { z-index: 2;}