/*###################################################################################

                                    Couleurs

###################################################################################*/

@mixin back {
    background: url('../images/micro_carbon.png');
}
@mixin back-content {
    background: url('../images/escheresque_ste.png') !important;
}

$border-color: #111;
$box-bottom-color:rgb(33,33,33);
$box-top-color:rgb(64,64,64);
$serious-warning-color: #f00;
$warning-color: #FFBA19;
$light-color: #26B3F7;
$disabled : #999;
$ui-button-text: #ddd;;

$puncher-height : 132px;
$puncher-section-size : 100px;
$panel-button-width : 100px;
$open-panel-width : 280px;
$open-panel-content-width : $open-panel-width - (60 + 15);


/*##################################################################################*/

body { 
	@include back;
	font-size: 11px; 
}

/** Font-Face **/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), 
  	   url("../fonts/fontawesome-webfont.woff") format('woff'), 
  	   url("../fonts/fontawesome-webfont.ttf") format('truetype'), 
  	   url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*####################################################################################

									Divers

####################################################################################*/

strong { font-weight: bold;}
/* Hack jquery ui css */
.ui-dialog.ui-widget-content {@include back-content;}

#content { height: $puncher-height + 40px; width: 100%;}
#puncher-container { height: $puncher-height; width: 100%; position: relative;}
#puncher-container section { vertical-align: middle;}
#puncher-container section, #puncher-container div { text-align: center;}
#puncher-container .ui-widget { font-size: 0.8em;}

#options-buttons-container { margin: 20px auto; text-align: center;}
    #options-buttons-container .ui-button { @include box-shadow(0px 3px 0px $border-color); display: inline-block; margin: 0 5px;}

#modals-container { display: none;}

    /* Gestion des messages d'erreur et de warning */
    .ui-state-error { margin: 0 0 10px;}
        .ui-state-error p { margin: 10px 0; text-align: justify !important; width: 100% !important;}
        
/*####################################################################################

								Options

####################################################################################*/
        
    #total-time-options { margin-top: 10px;}
            #total-time-options p span { float: left; margin: -2px 5px 0 0;}
        #total-time-options p.two-a-row { padding: 0 2%; margin-bottom: 10px; width: 45%; display: inline-block; text-align: center;}
            #total-time-options label,
            #total-time-options input  { display: inline-block; margin: 0;}
            #total-time-options label { width: 70px; text-align: left; margin-left: 10px;}
            #total-time-options input  { text-align: center;}
            
    #options {}
        #options p.options-label , #options div.options-input { height: 25px; vertical-align: middle; margin-bottom: 10px; }
        #options p.options-label {float: left; clear: both; text-align: left; padding-top: 5px;}
        #options div.options-input {float: right;}
        
    #punches-options {}
        #punches-options button.add-punch {margin-top: 10px;}
        #punches-options p {margin-bottom: 10px;}
            #punches-options button#older-punches {float: left;}
            #punches-options button#newer-punches {float: right;}
            #punches-options #punches-options-date {text-align: center;}
        #punches-options form {clear: both; padding-top: 10px; margin-top: 20px; border-top: 2px solid $box-top-color;}
            #punches-options form p {margin-bottom: 10px; display: inline-block;}
            #punches-options form p:first-child {width: 80px;}
            #punches-options button.delete-punch {clear: both; float: right;}
            
    #cookie-state { padding-top: 15px; text-align: center;}
        #cookie-state button,
        #cookie-state #progressbar { margin-bottom: 10px;}

/*####################################################################################

								Indicateurs

####################################################################################*/
#puncher-container #left-panel-section, 
#puncher-container #right-panel-section { min-width: 350px;}
#puncher-container #left-panel-section { text-align: right;}
#puncher-container #right-panel-section { text-align: left;}
	#puncher-container #left-panel-button, 
	#puncher-container #right-panel-button { height: $puncher-height; width: $panel-button-width; text-indent: -70000px; position: relative;}
    #puncher-container #left-panel-button {border-right-width: 2px; text-align: left;}
    #puncher-container #right-panel-button {border-left-width: 2px;}
	#puncher-container #left-panel, 
	#puncher-container #right-panel {
		z-index: 2; 
		font-size: 17px; 
		overflow: hidden; 
		height: $puncher-height; 
		width: 0px;
		@include back-content;
		box-shadow: none;
		vertical-align: bottom;
		border: none;
		padding: 0;
		position: relative;
		color: white;
	}
		#puncher-container #left-panel > div { margin: 10px 60px 0 15px; width: $open-panel-content-width;}
		#puncher-container #right-panel > div { margin: 10px 15px 0 60px; width: $open-panel-content-width;}
            #puncher-container #indicators-mode-options {margin-bottom: 10px;}
                #puncher-container #indicators-mode-options .ui-button-text {padding: .1em 1em !important;}
            #puncher-container dd, 
            #puncher-container  dt {display: block; float: left; padding: 4px; margin-bottom: 10px; color: $ui-button-text;}
            #puncher-container dt {clear: both; width: 40px; margin-right: 5px; }
            #puncher-container dd {width: 142px ;}
                #puncher-container #time-difference { font-weight: bold; color:#26B3F7; }
                #puncher-container.over-time-for-day #time-difference { color: $serious-warning-color;}
                #puncher-container.over-time #time-difference { color: $warning-color;}
	/*
	 * FIXME
	 * Hack To delete some space between the buttons...
	 */
	#puncher-container #left-panel { margin-left: -4px; border-right: 1px solid #000;}
	#puncher-container #right-panel-button { margin-left: -4px;}
	
/*####################################################################################

								Puncher

####################################################################################*/

#puncher-container section#puncher-section { 
	@include back;
	z-index: 10;
	position: relative;
	border-radius: 100px; 
	border: 1px solid $border-color; 
	height: $puncher-section-size; 
	width: $puncher-section-size; 
	@include box-shadow( inset 0px 3px 0px $border-color);
}
  #puncher-container section#puncher-section canvas {margin: 2px 0 0 1px;}
	#puncher-container.over-time-for-day .box-active { @include box-shadow( 0px 0px 30px $serious-warning-color);}
	#puncher-container.over-time .box-active { @include box-shadow( 0px 0px 30px $warning-color);}
	#puncher-container #puncher-button { 
		border-radius: 100px; 
		height: $puncher-section-size * 0.75; 
		width: $puncher-section-size * 0.75; 
		margin: auto; 
		border: none; 
		margin-top: 12px; 
		font-family: "FontAwesome";
		position: relative;
		z-index: 1000;
	}
		#puncher-container #puncher-button span { margin-top: 12px; display: inline-block;}
		
		
/*####################################################################################

									Knob

####################################################################################*/

#puncher-container #knob-wrapper {
	z-index: 11; 
	display: block !important; 
	width: 0 !important; 
	height: 0 !important;
	position: relative;
	top: -2px;
	left: -1px;
}

/*####################################################################################

								Classes générales

####################################################################################*/
	
p.ui-widget-header { padding: 4px 0; margin: 10px 0 3px; color: $ui-button-text;}

.box {
	display: inline-block; 
	border: 1px solid $border-color;
	font-size: 65px;
	text-decoration: none;
	color: $disabled;
	@include box-shadow(0px 5px 0px $border-color);
	@include background(linear-gradient(bottom, $box-bottom-color 12%, $box-top-color 65%));
}
.box-active { color: #fff; text-shadow: 0px 0px 10px #fff; @include box-shadow(0px 0px 30px $light-color); }
.corner-left { border-radius: 30px 0 0 30px; }
.corner-right { border-radius: 0 30px 30px 0; }
.progress-label { text-align: center; width: 100%; float: left; margin-top: 5px; text-shadow: 1px 1px 0 $border-color;}

.hidden {display: none;}

/*####################################################################################

	Affichage des panneaux d'information en mode déployés
	
####################################################################################*/

#puncher-container #left-panel-button.cookie-active,
#puncher-container #right-panel-button.indicators-active { width: $panel-button-width / 2; @include box-shadow(0px 0px 30px $light-color); }
#puncher-container #left-panel.cookie-active,
#puncher-container #right-panel.indicators-active { width: $open-panel-width; }
/* FIXME Hack to prevent the glow of the indicators button to show on the cookie button when closing */
#puncher-container #left-panel-button.indicators-active { z-index: 2;}